<div id="<%= dom_id product %>" class="w-full sm:w-auto my-2 px-4 py-2 bg-white rounded shadow flex flex-row flex-wrap items-center gap-x-8 gap-y-2">
  <div>
    <strong class="font-medium">Name:</strong>
    <%= product.name %>
  </div>
  <div>
    <strong class="font-medium">Purchase Date:</strong>
    <%= product.purchase_date&.strftime("%B %d, %Y") %>
  </div>
  <div>
    <strong class="font-medium">Unit:</strong>
    <%= product.unit %>
  </div>
  <div>
    <strong class="font-medium">Unit price:</strong>
    <%= number_to_currency(product.unit_price) %>
  </div>
  <div>
    <strong class="font-medium">Quantity:</strong>
    <%= product.quantity %>
  </div>
  <div>
    <strong class="font-medium">Total cost:</strong>
    <%= number_to_currency(product.total_cost) %>
  </div>
  <div>
    <strong class="font-medium">Store:</strong>
    <%= product.store.name %>
  </div>
</div>