<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Food Costs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="bg-white shadow">
      <nav class="container mx-auto px-4 sm:px-6 py-3">
        <div class="flex items-center justify-between">
          <div class="text-lg sm:text-xl font-semibold text-gray-700">
            <%= link_to "Food Costs", root_path, class: "text-gray-800" %>
          </div>
          <div class="flex items-center space-x-2 sm:space-x-3">
            <% if user_signed_in? %>
              <%= link_to "Stores", stores_path, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
              <%= link_to "Products", products_path, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
              <%= link_to "Reports", reports_index_path, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
              <%= link_to "Log in", new_user_session_path, class: "text-gray-600 text-sm sm:text-base hover:text-gray-800" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="container mx-auto mt-4 sm:mt-8 px-4 sm:px-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
